
.links_link:link,.links_link:visited,.links_link:active {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}
.links_link:hover {
	color: #000000;
	text-decoration: underline;
	font-size: 12px;
	font-weight: normal;
}	
