body {
    color: #FFF;
    background: #000;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

a:active {
    color: #F60;
    text-decoration: none;
}


button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: #ED5E2F;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
}

button:hover {
    background: #74A599;
}

button:active {
    background: #F6A953;
}