<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Ran Web Site" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^ran([_0-9a-z-]+)" negate="false" />
                    <action type="Rewrite" url="client/memberindex.php?id=ran{R:1}" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^page([_0-9a-z-=-]+)" negate="true" />
                    </conditions>
                </rule>
                <rule name="loadpage.php">
                    <match url="^ran([_0-9a-z-]+)/loadpage.php" negate="false" />
                    <action type="Rewrite" url="client/loadpage.php" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
